
* {
  border: 1px red dashed;
}


body {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(180deg, #00c3ff, #14a7e4, #1c8bc7, #1e71ab, #1c578d, #174071, #0f2954, #061539);
}

.name_row {
  text-align: center;
}


.main_container {
  margin: 100px auto;
  width: 700px;
}

.icons_row {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.icon_img {
  width: 60px;
}

.avatar-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
  display: block;
  margin: 30px auto
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}
