
* {
  border: 1px red dashed;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 300px;
  background: linear-gradient(180deg, #00c3ff, #00adfd, #0097fa, #0080f4, #0069ec, #0050e1, #0034d0, #0006bb);
  color: white;
}

h1 {
  color: white;
  font-family: Franklin Gothic
}

a {
  color: white;
}

.name_row {
  text-align: center;
  margin-bottom: 30px;
}


.main_container {
  margin: 20px auto;
  max-width: 640px;
}

.icons_row {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.icon_img {
  width: 60px;
}

.avatar-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
  display: block;
  margin: 30px auto
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.link_item {
  background-color: rgba(149, 123, 173, 0.5);
}
