
* {
  border: 1px red dashed;
}

.name_row {
  text-align: center;
}


.main_container {
  margin: 100px auto;
  width: 700px;
}

.icons_row {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#profile_pic {
  width: 250px;
  display: block;
  margin: 30px auto
}
